mat-card {
    margin: 10px;
  }
  mat-card:hover {
    background-color: rgb(165, 253, 180);
  }
  

  .h1align
  {
    margin-left: 38% !important
  }
  

  .br_table .aa {
    display: none;
}

.br_table .aa:nth-child(2) {
    display: table-row-group !important;
}
.table th:last-child {
    text-align: center !important;
}